.buttoncontainer{
    padding-left: 10px;
    padding-right: 10px;
}

.quickSortButton{
    background-color: white; /* Green */
    border: none;
    color:gray;
    padding: 15px 32px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;


}

.button{
    background-color: transparent; 
    border: none;
    color: #00FF00;
    padding: 15px 32px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    color: violet;
}

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}


.arraycontainer{
    text-align: center;
    /* padding: 20px; */
    padding-top: 2px;
    width: 92vw;
    height: 85vh;
    /* border: #00FF00 solid;
    border-width: 3px; */
}

.arraybar{
    background-color: #00FF00;
    display: inline-block;
    margin-left: 0.5px;
    margin-right: 0.5px;
}

#time{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    right:0% ;
    bottom: 2px;
    font-size: small;
}

.slider{
    width: 100px;
}
.footer{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    /* margin-top: 2%; */

}

@media (max-width: 500px){
    .footer{
       /* flex-direction: column; */
    }
}

@media (max-width:400px) {
    .buttoncontainer{
        display: flex;
        flex-direction: column;
        padding-left: 2px;
        padding-right: 2px;
    }
    .arraycontainer{
        text-align: center;
        /* padding: 20px; */
        padding-top: 9px;
        width: 92vw;
        height: 85vh;
    }
}